# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Dowload\Study\Nam 4 - Ky 1\Thuc Tap Tot Nghiep\Tai lieu\webGIS\flaskProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
